<%- include("partials/header") %>


<div class="container">
	<h1>Add New Comment</h1>
	<form action="/foods/<%= foodId %>/comments" method="POST">
		
		<div class="form-group">
			<label for="text">Comment Text</label>
			<textarea class="form-control" name="text" id="id" rows=8 cols=80 placeholder="Text Here..." required></textarea>
		</div>
		
		<input type="hidden" name="foodId" value="<%= foodId %>">
		
		<button type="submit" class="btn btn-warning my-2">Submit!</button>
	</form>
</div>


<%- include("partials/footer") %>