<%- include("partials/header") %>

<div class="landing-container">
		<div id="food-logo-div">
			<a href="/foods"><img src="/img/FoodLogo.png" alt="Food Logo"/></a>
			
		</div>
		<div>
			<p id="landing-p">Nothing more. Nothing less.</p>
		</div>
</div>
<script src="/js/landing.js"></script>
<%- include("partials/footer") %>