<%- include("partials/header") %>

<div class="landing-container">
		<div id="food-logo-div">
			<a href="/foods"><img src="/img/FoodLogo.png" alt="Food Logo" width=500"/></a>
			
		</div>
		<div>
			<p>Nothing more. Nothing less.</p>
		</div>
</div>
<%- include("partials/footer") %>