<%- include("partials/header") %>

<div class="landing-container">
		<div>
			<h1>
				<!-- Make "Food." A button with an img inside and the image is "Food." but with an image of foods inside of it -->
				Food.
			</h1>
		</div>
		<div>
			<p>Nothing more. Nothing less.</p>
		</div>

	<!-- Add API for getting images  -->
</div>

<%- include("partials/footer") %>