<%- include("partials/header") %>
<div class="landing-container">

	<div>
		<h1>
			Food.
		</h1>
	</div>
	<div>
		<p>Nothing more. Nothing less.</p>
	</div>


	<!-- Add API for getting images  -->
</div>

<%- include("partials/footer") %>