body {
	transition: 2s;
}

nav {
	transition: 2s;
}

.card {
	padding: 0;
	border-radius: 1rem;
	width: 30%;
	

}

.card-img {
	width: 100%;
	height: 20rem;
	object-fit: cover;
	border-radius: 1rem;
	padding: 0.5rem;
	
}

.card-title {
	text-align: center;
	font-family: 'pacifico', sans-serif;
	font-weight: 400;
	font-size: 1.8rem;
}

.card-text {
	font-family: 'Signika Negative', sans-serif;
	line-height: 1.4;
}

/* foods_show */
.show_image-container img {
	max-width: 80%;
	border-radius: 2rem;
}


.landing-p-dark {
	border-color: white !important; 
	color: white;
	font-size: 2.5rem !important;
}

.landing-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 80%;
	font-family: "Josefin Sans";
	margin: 0% 10%;
	flex-wrap: none;
	margin-top: 7.5%;

}

.landing-container h1 {
	font-weight: 500;
	font-size: 8rem;
}

.landing-container p {
	font-weight: 300;
	font-style: italic;
	font-size: 3rem;
	margin-top: -1.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border: black solid 2px;
	transition: 0.5s;
}

.landing-container div {
	display: flex;
	text-align: center;

}

.landing-container img {
	transition: 1.5s;
}

.landing-container img:hover {
	width: 650px;
	height: auto;

}

#foods_show-vote-container {
	display: flex;
	align-items: center;	
	justify-content: center;
	font-size: 2rem;
	margin-top: -1.75rem;
}

#food_show-vote_score {
	padding-top: 1rem;
	font-family: 'Koulen', cursive;
}

